gensim==3.8.2
Scrapy==1.6.0
openpyxl==3.0.3
scrapy_splash==0.7.2
requests==2.23.0
pyltp==0.2.1
redis==3.4.1
matplotlib==3.2.1
numpy==1.16.4
pkuseg==0.0.22
pandas==0.25.3
psycopg2==2.8.4
jieba==0.42.1
scikit_learn==0.22.2.post1
